header {
    font-family: 'Righteous', cursive;
    background: white;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    /* largura padrao da web */
    margin: 0 auto;
}


.name {
  border-right: 5px solid;
  color: #A020F0;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin-top: 120px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.name{
  animation: blinkCursor 500ms steps(20) infinite,
    name 4s steps(20) 1s normal both;
}

@keyframes name {
  from {
    width: 0;
  }
  to {
   width: 330px;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: #A020F0;
  }
  to {
    border-right-color: transparent;
  }
}

.projeto {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.grupo {
    width: 32%;
    display: inline-block;
    padding: 10px 0px;
}

.chegada {
    margin-top: 20px;
}

.cliente {
    margin-top: 20px;
    margin-bottom: 20px;
}

.campo {
    margin: 0;
    padding-bottom: 1em;
    width: 100%;
    padding: .7em;
    width: 100%;
    color: #4B088A;
}

.campo-medio {
    display: inline-block;
    padding-right: .5em;
}

.text-edit {
    margin-top: 25px;
    color: white;
}

button:active {
    margin-top: 0px;
    border: 0;
}

.btn-adc {
    margin-top: 10px;
    background-color: #4B088A;
    color: white !important;
    border: #9370DB solid 1px;
    border-radius: 15px !important;
}

.btn-adc:hover {
    color: white !important;
    background-color: #9370DB;
    border: #9370DB solid 1px;
}

.btn-rmv {
    margin-top: 10px;
    background-color: #4B088A;
    color: white !important;
    border: #4B088A solid 1px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 15px !important;
}

.btn-rmv:hover {
    color: white !important;
    background-color: #ee6767;
    border: #f05a5a solid 1px;
}

.adicionar-paciente {
    margin-top: 30px;
}

.campo-invalido {
    border: 1px solid red;
}

#mensagens-erro {
    color: red;
}

.paciente-invalido {
    background-color: lightcoral;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

#filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}

.invisivel {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #9370DB;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

section {
    margin: 2em 0;
    overflow: hidden;
}

section h2 {
    font-size: 3em;
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
}

footer {
    background: #9370DB;
    color: #FFF;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}